* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*15px em todo html*/
  font-size: 93.75%;
}

body {
  background-color: #e6e6e6;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

.sr-only {
  /*css-tricks*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
